In [1]:
import pandas as pd

df_match = pd.read_csv("https://projects.fivethirtyeight.com/soccer-api/club/spi_matches_latest.csv")
df_team = pd.read_csv("https://projects.fivethirtyeight.com/soccer-api/club/spi_global_rankings.csv")

df_team.head()

,rank,prev_rank,name,league,off,def,spi
0,1,2.0,Bayern Munich,German Bundesliga,3.23,0.55,90.97
1,2,1.0,Manchester City,Barclays Premier League,2.80,0.38,90.45
2,3,3.0,Barcelona,Spanish Primera Division,2.44,0.44,86.27
3,4,4.0,Real Madrid,Spanish Primera Division,2.60,0.53,86.11
4,5,5.0,Arsenal,Barclays Premier League,2.39,0.45,85.48

In [2]:
df_match.head()

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
0,2019,2019-03-01,1979,Chinese Super League,Shandong Luneng,Guizhou Renhe,48.22,37.83,0.5755,0.1740,...,45.9,22.1,1.0,0.0,1.39,0.26,2.05,0.54,1.05,0.00
1,2019,2019-03-01,1979,Chinese Super League,Shanghai Greenland,Shanghai SIPG,39.81,60.08,0.2387,0.5203,...,25.6,63.4,0.0,4.0,0.57,2.76,0.80,1.50,0.00,3.26
2,2019,2019-03-01,1979,Chinese Super League,Guangzhou Evergrande,Tianjin Quanujian,65.59,39.99,0.7832,0.0673,...,77.1,28.8,3.0,0.0,0.49,0.45,1.05,0.75,3.15,0.00
3,2019,2019-03-01,1979,Chinese Super League,Wuhan Zall,Beijing Guoan,32.25,54.82,0.2276,0.5226,...,35.8,58.9,0.0,1.0,1.12,0.97,1.51,0.94,0.00,1.05
4,2019,2019-03-01,1979,Chinese Super League,Chongqing Lifan,Guangzhou RF,38.24,40.45,0.4403,0.2932,...,26.2,21.3,2.0,2.0,2.77,3.17,1.05,2.08,2.10,2.10

In [3]:
df_match = df_match[df_match.score1.isna()]

df_match.head()

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
4796,2022,2022-11-12,1832,Belgian Jupiler League,Sporting de Charleroi,KV Mechelen,43.82,35.70,0.5213,0.2437,...,9.6,21.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5084,2022,2022-12-17,1948,Australian A-League,Melbourne City,Melbourne Victory,37.56,22.55,0.5639,0.2157,...,15.7,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5880,2022,2023-01-22,7921,FA Women's Super League,Chelsea FC Women,Liverpool Women,79.22,49.99,0.8312,0.0475,...,98.2,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5918,2022,2023-01-22,7921,FA Women's Super League,Brighton & Hove Albion,Arsenal Women,37.56,78.55,0.0884,0.7702,...,20.4,63.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6375,2022,2023-02-05,1884,Greek Super League,Atromitos,AEK Athens,27.49,53.78,0.1595,0.5950,...,0.5,91.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
cols = ["season", "date", "league_id", "league", "team1", "team2", "spi1", 
        "spi2", "prob1", "prob2", "probtie", "proj_score1", "proj_score2",
        "importance1", "importance2"]
        
df_match.loc[df_match.score1.isna(), cols]

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,probtie,proj_score1,proj_score2,importance1,importance2
4796,2022,2022-11-12,1832,Belgian Jupiler League,Sporting de Charleroi,KV Mechelen,43.82,35.70,0.5213,0.2437,0.2349,1.81,1.17,9.6,21.7
5084,2022,2022-12-17,1948,Australian A-League,Melbourne City,Melbourne Victory,37.56,22.55,0.5639,0.2157,0.2204,1.84,1.05,15.7,29.9
5880,2022,2023-01-22,7921,FA Women's Super League,Chelsea FC Women,Liverpool Women,79.22,49.99,0.8312,0.0475,0.1213,2.80,0.54,98.2,5.0
5918,2022,2023-01-22,7921,FA Women's Super League,Brighton & Hove Albion,Arsenal Women,37.56,78.55,0.0884,0.7702,0.1414,0.93,2.92,20.4,63.8
6375,2022,2023-02-05,1884,Greek Super League,Atromitos,AEK Athens,27.49,53.78,0.1595,0.5950,0.2455,0.75,1.71,0.5,91.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11405,2023,2023-12-02,1947,Japanese J League,Gamba Osaka,Vissel Kobe,29.00,44.67,0.2526,0.5020,0.2454,0.98,1.50,NaN,NaN
11406,2023,2023-12-02,1947,Japanese J League,Consadole Sapporo,Urawa Red Diamonds,30.94,45.20,0.2621,0.5223,0.2156,1.23,1.83,NaN,NaN
11407,2023,2023-12-02,1947,Japanese J League,Avispa Fukuoka,Sanfrecce Hiroshima,28.37,37.72,0.3151,0.4328,0.2521,1.13,1.37,NaN,NaN
11408,2023,2023-12-02,1947,Japanese J League,Albirex Niigata,Cerezo Osaka,24.53,35.17,0.2898,0.4697,0.2405,1.14,1.52,NaN,NaN
11409,2023,2023-12-02,1947,Japanese J League,Kyoto Purple Sanga,Yokohama F. Marinos,25.48,52.69,0.1739,0.6121,0.2139,0.84,1.80,NaN,NaN

In [5]:


df.head()

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,proj_score1,proj_score2,importance1,importance2,name1,off1,def1,name2,off2,def2
0,2022,2022-11-12,1832,Belgian Jupiler League,Sporting de Charleroi,KV Mechelen,43.82,35.7,0.5213,0.2437,...,1.81,1.17,9.6,21.7,Sporting de Charleroi,1.32,1.41,KV Mechelen,1.32,1.81
1,2022,2023-04-08,1832,Belgian Jupiler League,OH Leuven,KV Mechelen,38.20,35.7,0.4719,0.2904,...,1.76,1.34,NaN,NaN,OH Leuven,1.25,1.60,KV Mechelen,1.32,1.81
2,2022,2023-03-05,1832,Belgian Jupiler League,Antwerp,KV Mechelen,56.55,35.7,0.7033,0.1079,...,2.14,0.70,51.7,2.5,Antwerp,1.50,1.04,KV Mechelen,1.32,1.81
3,2022,2023-03-19,1832,Belgian Jupiler League,Union Saint Gilloise,KV Mechelen,58.58,35.7,0.6840,0.1366,...,2.40,0.98,NaN,NaN,Union Saint Gilloise,1.81,1.24,KV Mechelen,1.32,1.81
4,2022,2023-04-23,1832,Belgian Jupiler League,Anderlecht,KV Mechelen,52.63,35.7,0.6236,0.1672,...,2.06,0.96,NaN,NaN,Anderlecht,1.51,1.22,KV Mechelen,1.32,1.81

In [6]:
feature_cols = ["league_id", "spi1", "off1", "def1", "spi2", "off2", "def2", ]
target_cols = ["prob1", "probtie", "prob2", "proj_score1", "proj_score2", "importance1", "importance2"]

df[feature_cols+target_cols]

,league_id,spi1,off1,def1,spi2,off2,def2,prob1,probtie,prob2,proj_score1,proj_score2,importance1,importance2
0,1832,43.82,1.32,1.41,35.70,1.32,1.81,0.5213,0.2349,0.2437,1.81,1.17,9.6,21.7
1,1832,38.20,1.25,1.60,35.70,1.32,1.81,0.4719,0.2377,0.2904,1.76,1.34,NaN,NaN
2,1832,56.55,1.50,1.04,35.70,1.32,1.81,0.7033,0.1888,0.1079,2.14,0.70,51.7,2.5
3,1832,58.58,1.81,1.24,35.70,1.32,1.81,0.6840,0.1794,0.1366,2.40,0.98,NaN,NaN
4,1832,52.63,1.51,1.22,35.70,1.32,1.81,0.6236,0.2092,0.1672,2.06,0.96,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4017,1884,16.89,0.46,1.69,28.12,0.80,1.54,0.3257,0.3096,0.3647,1.02,1.10,NaN,NaN
4018,1884,24.18,0.73,1.66,10.32,0.27,1.91,0.6523,0.2447,0.1030,1.64,0.48,NaN,NaN
4019,1837,36.35,1.13,1.54,37.56,0.99,1.31,0.4037,0.3041,0.2922,1.22,0.99,NaN,NaN
4020,10281,41.25,1.25,1.45,49.56,1.31,1.14,0.3449,0.3026,0.3525,1.13,1.15,100.0,100.0
4021,1827,45.56,1.35,1.35,50.42,1.44,1.24,0.3530,0.2852,0.3618,1.20,1.22,NaN,NaN

In [9]:
import pandas as pd
import numpy as np
from xgboost import XGBRegressor

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.linear_model import SGDRegressor
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.metrics import mean_squared_error

def predict_scores(target_col):


    # Assume we have a dataframe `df` with columns `numeric_col` and `categorical_col`
    numeric_features = ['spi1','off1','def1','spi2','off2','def2']
    categorical_features = ['league_id']

    # Define the transformers for preprocessing
    preprocessor = ColumnTransformer(
        transformers=[
            ('num', StandardScaler(), numeric_features),
            ('cat', OneHotEncoder(handle_unknown="ignore"), categorical_features)])

    # Define the pipeline
    pipe = Pipeline([
        ('preprocessor', preprocessor),
        ('regressor', XGBRegressor())
    ])

    param_grid = {
        'regressor__max_depth': [3, 5, 7],
        # 'regressor__learning_rate': [0.1, 0.01, 0.001],
        'regressor__n_estimators': [100, 500, 1000],
        # 'regressor__gamma': [0, 0.1],
    }


    # Fit the pipeline to the data
    X = df[feature_cols] # X is the input features
    y = df[target_col] # y is the target variable

    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.9)

    cv = GridSearchCV(
        pipe,
        param_grid,
        scoring="neg_root_mean_squared_error",
        cv=3,
        verbose=2
    )
    cv.fit(X_train, y_train)

    df[f"{target_col}_pred"] = cv.predict(df[feature_cols])

    return df

for target_col in ["proj_score1", "proj_score2"]:

    df = predict_scores(target_col)

df.head()

Fitting 3 folds for each of 9 candidates, totalling 27 fits
[CV] END regressor__max_depth=3, regressor__n_estimators=100; total time=   0.2s
[CV] END regressor__max_depth=3, regressor__n_estimators=100; total time=   0.1s
[CV] END regressor__max_depth=3, regressor__n_estimators=100; total time=   0.1s
[CV] END regressor__max_depth=3, regressor__n_estimators=500; total time=   0.4s
[CV] END regressor__max_depth=3, regressor__n_estimators=500; total time=   0.4s
[CV] END regressor__max_depth=3, regressor__n_estimators=500; total time=   0.4s
[CV] END regressor__max_depth=3, regressor__n_estimators=1000; total time=   0.8s
[CV] END regressor__max_depth=3, regressor__n_estimators=1000; total time=   0.8s
[CV] END regressor__max_depth=3, regressor__n_estimators=1000; total time=   0.7s
[CV] END regressor__max_depth=5, regressor__n_estimators=100; total time=   0.1s
[CV] END regressor__max_depth=5, regressor__n_estimators=100; total time=   0.1s
[CV] END regressor__max_depth=5, regressor__n_estimators=100; total time=   0.1s
[CV] END regressor__max_depth=5, regressor__n_estimators=500; total time=   1.0s
[CV] END regressor__max_depth=5, regressor__n_estimators=500; total time=   0.8s
[CV] END regressor__max_depth=5, regressor__n_estimators=500; total time=   0.7s
[CV] END regressor__max_depth=5, regressor__n_estimators=1000; total time=   0.8s
[CV] END regressor__max_depth=5, regressor__n_estimators=1000; total time=   0.8s
[CV] END regressor__max_depth=5, regressor__n_estimators=1000; total time=   0.8s
[CV] END regressor__max_depth=7, regressor__n_estimators=100; total time=   0.2s
[CV] END regressor__max_depth=7, regressor__n_estimators=100; total time=   0.2s
[CV] END regressor__max_depth=7, regressor__n_estimators=100; total time=   0.2s
[CV] END regressor__max_depth=7, regressor__n_estimators=500; total time=   0.5s
[CV] END regressor__max_depth=7, regressor__n_estimators=500; total time=   0.6s
[CV] END regressor__max_depth=7, regressor__n_estimators=500; total time=   0.6s
[CV] END regressor__max_depth=7, regressor__n_estimators=1000; total time=   0.7s
[CV] END regressor__max_depth=7, regressor__n_estimators=1000; total time=   0.7s
[CV] END regressor__max_depth=7, regressor__n_estimators=1000; total time=   0.7s
Fitting 3 folds for each of 9 candidates, totalling 27 fits
[CV] END regressor__max_depth=3, regressor__n_estimators=100; total time=   0.1s
[CV] END regressor__max_depth=3, regressor__n_estimators=100; total time=   0.1s
[CV] END regressor__max_depth=3, regressor__n_estimators=100; total time=   0.1s
[CV] END regressor__max_depth=3, regressor__n_estimators=500; total time=   0.4s
[CV] END regressor__max_depth=3, regressor__n_estimators=500; total time=   0.4s
[CV] END regressor__max_depth=3, regressor__n_estimators=500; total time=   0.4s
[CV] END regressor__max_depth=3, regressor__n_estimators=1000; total time=   0.8s
[CV] END regressor__max_depth=3, regressor__n_estimators=1000; total time=   0.8s
[CV] END regressor__max_depth=3, regressor__n_estimators=1000; total time=   0.8s
[CV] END regressor__max_depth=5, regressor__n_estimators=100; total time=   0.2s
[CV] END regressor__max_depth=5, regressor__n_estimators=100; total time=   0.2s
[CV] END regressor__max_depth=5, regressor__n_estimators=100; total time=   0.1s
[CV] END regressor__max_depth=5, regressor__n_estimators=500; total time=   0.6s
[CV] END regressor__max_depth=5, regressor__n_estimators=500; total time=   0.6s
[CV] END regressor__max_depth=5, regressor__n_estimators=500; total time=   0.6s
[CV] END regressor__max_depth=5, regressor__n_estimators=1000; total time=   1.0s
[CV] END regressor__max_depth=5, regressor__n_estimators=1000; total time=   1.0s
[CV] END regressor__max_depth=5, regressor__n_estimators=1000; total time=   0.8s
[CV] END regressor__max_depth=7, regressor__n_estimators=100; total time=   0.2s
[CV] END regressor__max_depth=7, regressor__n_estimators=100; total time=   0.2s
[CV] END regressor__max_depth=7, regressor__n_estimators=100; total time=   0.2s
[CV] END regressor__max_depth=7, regressor__n_estimators=500; total time=   0.5s
[CV] END regressor__max_depth=7, regressor__n_estimators=500; total time=   0.5s
[CV] END regressor__max_depth=7, regressor__n_estimators=500; total time=   0.5s
[CV] END regressor__max_depth=7, regressor__n_estimators=1000; total time=   0.9s
[CV] END regressor__max_depth=7, regressor__n_estimators=1000; total time=   1.0s
[CV] END regressor__max_depth=7, regressor__n_estimators=1000; total time=   0.8s

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,importance1,importance2,name1,off1,def1,name2,off2,def2,proj_score1_pred,proj_score2_pred
0,2022,2022-11-12,1832,Belgian Jupiler League,Sporting de Charleroi,KV Mechelen,43.82,35.7,0.5213,0.2437,...,9.6,21.7,Sporting de Charleroi,1.32,1.41,KV Mechelen,1.32,1.81,1.837903,1.162829
1,2022,2023-04-08,1832,Belgian Jupiler League,OH Leuven,KV Mechelen,38.20,35.7,0.4719,0.2904,...,NaN,NaN,OH Leuven,1.25,1.60,KV Mechelen,1.32,1.81,1.753728,1.342269
2,2022,2023-03-05,1832,Belgian Jupiler League,Antwerp,KV Mechelen,56.55,35.7,0.7033,0.1079,...,51.7,2.5,Antwerp,1.50,1.04,KV Mechelen,1.32,1.81,2.118561,0.785849
3,2022,2023-03-19,1832,Belgian Jupiler League,Union Saint Gilloise,KV Mechelen,58.58,35.7,0.6840,0.1366,...,NaN,NaN,Union Saint Gilloise,1.81,1.24,KV Mechelen,1.32,1.81,2.410007,0.963360
4,2022,2023-04-23,1832,Belgian Jupiler League,Anderlecht,KV Mechelen,52.63,35.7,0.6236,0.1672,...,NaN,NaN,Anderlecht,1.51,1.22,KV Mechelen,1.32,1.81,2.063556,0.959788

In [11]:
df[[col for col in df.columns if "proj_score" in col]].sample(10)

      proj_score1  proj_score2  proj_score1_pred  proj_score2_pred
1650         1.37         1.53          1.395505          1.511498
412          1.20         2.11          1.204269          2.120139
1873         1.31         1.10          1.297996          1.096929
2917         1.81         1.27          1.799858          1.272915
3541         2.01         0.81          1.984077          0.813433
2401         1.37         0.91          1.356209          0.916813
1849         0.94         1.29          0.939886          1.287862
423          1.68         1.68          1.688598          1.685458
3934         1.34         1.48          1.338626          1.469557
2726         1.76         0.66          1.761707          0.681696

In [112]:
from scipy.stats import poisson
from tqdm.auto import tqdm
tqdm.pandas()

N_DISTRIBUTIONS = 1000
DIAGONAL_INFLATION = 1.09

def simulate_match(proj_score_1, proj_score_2):

    df_sim = pd.DataFrame({
        "sim_score1": poisson.rvs(proj_score_1, size=(N_DISTRIBUTIONS)),
        "sim_score2": poisson.rvs(proj_score_2, size=(N_DISTRIBUTIONS))
    })

    df_sim = df_sim[["sim_score1", "sim_score2"]].value_counts().reset_index()
    # rename value
    df_sim = df_sim.rename({0: "count"}, axis=1)
    # calculate results
    df_sim.loc[df_sim["sim_score1"]>df_sim["sim_score2"], "result"] = "W"
    df_sim.loc[df_sim["sim_score1"]==df_sim["sim_score2"], "result"] = "D"
    df_sim.loc[df_sim["sim_score1"]<df_sim["sim_score2"], "result"] = "L"
    df_sim["result"] = pd.Categorical(df_sim["result"], categories=["W", "D", "L"], ordered=True)
    # draw adjustment
    df_sim.loc[df_sim["sim_score1"]==df_sim["sim_score2"], "count"] *= DIAGONAL_INFLATION
    # convert to probability
    df_sim["probability"] = df_sim["count"]/df_sim["count"].sum()
    # get probabilities
    df_sim_dict = df_sim.groupby("result")["probability"].sum().sort_index().to_dict()

    df_sim_dict["home_cs"] = df_sim.loc[df_sim["sim_score1"]==0, "probability"].sum()
    df_sim_dict["away_cs"] = df_sim.loc[df_sim["sim_score2"]==0, "probability"].sum()


    return df_sim_dict

df = pd.concat([
    df,
    df.apply(lambda x: simulate_match(x["proj_score1"], x["proj_score2"]), axis=1).apply(pd.Series).add_suffix("_probability_pred")
], axis=1)

df.head()

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,off2,def2,proj_score1_pred,proj_score2_pred,probabilities,W_probability_pred,D_probability_pred,L_probability_pred,home_cs_probability_pred,away_cs_probability_pred
0,2022,2022-11-12,1832,Belgian Jupiler League,Sporting de Charleroi,KV Mechelen,43.82,35.7,0.5213,0.2437,...,1.32,1.81,1.837903,1.162829,"{'W': 0.5498551720752123, 'D': 0.2194020325003...",0.492625,0.249799,0.257575,0.183358,0.309698
1,2022,2023-04-08,1832,Belgian Jupiler League,OH Leuven,KV Mechelen,38.20,35.7,0.4719,0.2904,...,1.32,1.81,1.753728,1.342269,"{'W': 0.44859300469161684, 'D': 0.248753636247...",0.458024,0.258157,0.283818,0.181644,0.240365
2,2022,2023-03-05,1832,Belgian Jupiler League,Antwerp,KV Mechelen,56.55,35.7,0.7033,0.1079,...,1.32,1.81,2.118561,0.785849,"{'W': 0.6719651049699875, 'D': 0.2130934954956...",0.703427,0.179335,0.117238,0.116213,0.502409
3,2022,2023-03-19,1832,Belgian Jupiler League,Union Saint Gilloise,KV Mechelen,58.58,35.7,0.6840,0.1366,...,1.32,1.81,2.410007,0.963360,"{'W': 0.6688864370714792, 'D': 0.1803924659153...",0.678136,0.190961,0.130903,0.093738,0.379166
4,2022,2023-04-23,1832,Belgian Jupiler League,Anderlecht,KV Mechelen,52.63,35.7,0.6236,0.1672,...,1.32,1.81,2.063556,0.959788,"{'W': 0.6124328773566416, 'D': 0.2435229098890...",0.602238,0.231999,0.165763,0.136916,0.378204

In [114]:
(df["W_probability_pred"] - df["prob1"]).mean()

-0.0041955518364823014

In [115]:

(df["L_probability_pred"] - df["prob2"]).mean()

-0.00338605130487591

In [116]:
(df["D_probability_pred"] - df["probtie"]).mean()

0.007582174996156813

In [57]:
df_sim[["sim_score1", "sim_score2"]].value_counts().unstack().fillna(0)

sim_score2     0      1     2     3     4    5    6    7
sim_score1
0           61.0   82.0  75.0  39.0  17.0  5.0  0.0  0.0
1           72.0  110.0  84.0  51.0  14.0  7.0  3.0  1.0
2           52.0   62.0  64.0  31.0  15.0  1.0  1.0  0.0
3           18.0   28.0  32.0   9.0   6.0  0.0  0.0  0.0
4           10.0   16.0  11.0   6.0   2.0  0.0  0.0  0.0
5            0.0    3.0   6.0   1.0   1.0  1.0  0.0  0.0
6            0.0    0.0   1.0   1.0   0.0  0.0  0.0  0.0
7            0.0    0.0   0.0   1.0   0.0  0.0  0.0  0.0